<!--Footer-->
      <footer class="page-footer center-on-small-only">

          <!--Call to action-->
          <div class="call-to-action">
              <h4>Contacto</h4>

                  <ul class="text-center">
                      <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker teal-text"></i>
                          <p>La Plata, Argentina</p>
                      </li>

                      <li class="wow fadeInUp" data-wow-delay="0.3s"><i class="fa fa-phone teal-text"></i>
                          <p>+ 01 234 567 89</p>
                      </li>

                      <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope teal-text"></i>
                          <p>laplataenbici@gmail.com.ar</p>
                      </li>
                  </ul>

          </div>
          <!--/.Call to action-->

          <!--Copyright-->
          <div class="footer-copyright">
              <div class="container-fluid">
                  © 2017 Copyright:  laplataenbici.com

              </div>
          </div>
          <!--/.Copyright-->
       </footer>